<footer class="footer">
  <div class="container">
    <ul class="footer-nav pull-left">
      <li><a href="#" class="footer-link">Help</a></li>
      <li><a href="#" class="footer-link">About</a></li>
      <li><a href="#" class="footer-link">Privacy</a></li>
      <li><a href="#" class="footer-link">Terms</a></li>
    </ul>
    <div class="pull-right social">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
    </div>
  </div>
</footer>