@import url('https://fonts.googleapis.com/css?family=Pacifico');

.logo{
    font-family: 'Pacifico', cursive;
    font-size: 28px;
}

.horizontal-line{
    border-bottom:1px solid rgb(242, 242, 242)
}

.sign-in{
    margin-right:10px;
    border: transparent;
}

.btn-outline-success{
    cursor: pointer;
}

.btn-outline-success:focus, .btn-outline-success:active{
    box-shadow: 0 0 0 0 !important;
}

.dropdown-btn{
    background-color: transparent;
}

.dropdown-btn:focus, .dropdown-btn:active{
    box-shadow: 0 0 0 0 !important;
}