<ul class="nav justify-content-center horizontal-line">
  <li class="nav-item">
    <a class="nav-link" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Technology</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Economics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Music</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Trends</a>
  </li>
</ul>