.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 130px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 50px 50px 50px 50px;
}
.signup{
    margin-left: 30px;
}
.remember{
    font-size: medium;
}
.form-check-input{
    box-sizing: border-box;
    padding: 0;
    margin-top: 8px;
}
.login-center{
    height: 100%;
}
.memeberReg{
    margin-right: 10px;
}
.loginButton{
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
    line-height: 1;
}
.register{
    margin-top: 15px;
}