<!-- <div class="container">
  <div class="row-style-one">
    <h3 class="topic-heading">Technology</h3>
    <div class="row">
      <div class="col-md-12 col-lg-12">
          <div class="card mb-3">
              <img class="card-img-top" src="http://via.placeholder.com/1149x180" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
      </div>
      <div class="col-md-6 col-lg-6">
          <div class="card mb-3">
              <img class="card-img-top" src="http://via.placeholder.com/575x180" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
      </div>
      <div class="col-md-6 col-lg-6">
          <div class="card mb-3">
              <img class="card-img-top" src="http://via.placeholder.com/575x180" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="row-style-two">
      <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="card mb-3">
                <img class="card-img-top" src="http://via.placeholder.com/575x180" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="card mb-3">
                <img class="card-img-top" src="http://via.placeholder.com/575x180" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="card mb-3">
                <img class="card-img-top" src="http://via.placeholder.com/1149x180" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
      </div>
    </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h3 class="topic-heading">Technology</h3>
      <div class="text-muted pull-left"><p class="badge-wrapper">Stories <span class="badge badge-dark">267</span></p><!-- <p class="badge">267</p><p class="bagde-text">Stories</p> --> </div><button type="submit" class="btn btn-outline-warning btn-sm topic-follow-btn">Follow</button>
      <div class="clear-fix"></div>
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/362x180" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/362x180" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="http://via.placeholder.com/362x180" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="http://via.placeholder.com/362x180" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="http://via.placeholder.com/362x180" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="http://via.placeholder.com/362x180" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>