<div class="profile-wrapper">
  <div class="container">
    <div class="row wrapper">
      <!-- first row  -->
      <div class="col-md-2 col-lg-2">
        <img src="../../assets/pp.jpg" height="150px" width="150px" alt="avatar" class="avatar rounded-circle">
      </div>
      <div class="col-md-10 col-lg-10">
        <div class="about-author">
          <div class="author-details pull-left">
            <p class="author-name ">Ravinder Singh</p>
          </div>
          <div class="edit-profile pull-right">
            <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
          </div>
          <div class="clear-fix"></div>
          <p style="margin-bottom:5px;color: #868e96;">Interests</p>
          <ul class="interest-tags pull-left">
            <li><button type="button" class="btn btn-outline-violet">Technology</button></li>
            <li><button type="button" class="btn btn-outline-violet">Photography</button></li>
            <li><button type="button" class="btn btn-outline-violet">Music</button></li>
          </ul>
          <button type="button" class="btn btn-outline-dark pull-right" style="margin-right:15px;">Follow</button>
        </div>
        <div class="clear-fix"></div>
      </div>
    </div>
    <!-- first row ends -->
    <div class="topics-list">
      <div class="topic-wrapper">
        <!-- topic wrapper starts -->
        <div class="row">
          <div class="col-md-12">
            <h3 class="topics-heading">Technology</h3>
            <div class="text-muted pull-left">
              <p class="badge-wrapper">Stories <span class="badge badge-dark">50</span></p>
            </div>
            <div class="pull-right"><p class="more">Show All<i class="fa fa-angle-double-right right-arrow" aria-hidden="true"></i></p></div>
            <div class="clear-fix"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 22rem; height:27rem;">
              <img class="card-img-top" src="http://via.placeholder.com/362x180" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <div class="card sub-card">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card sub-card">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card sub-card">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card sub-card">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- topic wrapper ends -->
      <div class="topic-wrapper">
          <!-- topic wrapper starts -->
          <div class="row">
            <div class="col-md-12">
              <h3 class="topics-heading">Gaming</h3>
              <div class="text-muted pull-left">
                <p class="badge-wrapper">Stories <span class="badge badge-dark">27</span></p>
              </div>
              <div class="pull-right"><p class="more">Show All<i class="fa fa-angle-double-right right-arrow" aria-hidden="true"></i></p></div>
              <div class="clear-fix"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="width: 22rem; height:27rem;">
                <img class="card-img-top" src="http://via.placeholder.com/362x180" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <div class="card sub-card">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card sub-card">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card sub-card">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card sub-card">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- topic wrapper ends -->
    </div>
  </div>
</div>