<div class="profile-wrapper">
  <div class="container">
    <div class="row wrapper">
      <div class="col-md-2 col-lg-2">
        <img src="../../assets/pp.jpg" height="150px" width="150px" alt="avatar" class="avatar rounded-circle">
      </div>
      <div class="col-md-10 col-lg-10">
        <div class="about-author">
          <div class="author-details pull-left">
            <p class="author-name ">Ravinder Singh</p>
          </div>
          <div class="edit-profile pull-right">
            <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
          </div>
          <div class="clear-fix"></div>
          <p style="margin-bottom:5px;color: #868e96;">Interests</p>
          <ul class="interest-tags pull-left">
            <li><button type="button" class="btn btn-outline-violet">Technology</button></li>
            <li><button type="button" class="btn btn-outline-violet">Photography</button></li>
            <li><button type="button" class="btn btn-outline-violet">Music</button></li>
          </ul>
          <button type="button" class="btn btn-outline-dark pull-right" style="margin-right:15px;">Follow</button>
        </div>
        <div class="clear-fix"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="metrics">
          <ul class="metrics-list">
            <li class="metric-list-item">
              <div class="card-round-link card-round-link-first overflow-hidden">
                <p class="metrics-text">Articles Written</p>
                <p class="metrics-number-1">21</p>
              </div>
            </li>
            <li class="metric-list-item">
              <div class="card-round-link card-round-link-center overflow-hidden">
                <p class="metrics-text">Following Authors</p>
                <p class="metrics-number-2">15</p>
              </div>
            </li>
            <li class="metric-list-item">
              <div class="card-round-link card-round-link-last overflow-hidden">
                <p class="metrics-text">Popularity Index</p>
                <p class="metrics-number-3">8.5</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>