<div class="profile-wrapper">
  <div class="container">
    <div class="row wrapper"> <!-- first row  -->
      <div class="col-md-2 col-lg-2">
        <img src="{{user.profileImage}}" height="150px" width="150px" alt="avatar" class="avatar rounded-circle">
      </div>
      <div class="col-md-10 col-lg-10">
        <div class="about-author">
          <div class="author-details pull-left">
            <p class="author-name">{{user.firstName}} {{user.lastName}}</p>
          </div>
          <div class="edit-profile pull-right">
            <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
          </div>
          <div class="clear-fix"></div>
          <p style="margin-bottom:5px;color: #868e96;">Interests</p>
          <ul class="interest-tags pull-left">
            <li *ngFor="let interest of user.interests"><button type="button" class="btn btn-outline-violet">{{interest}}</button></li>
          </ul>
          <button type="button" class="btn btn-outline-dark pull-right" style="margin-right:15px;">Follow</button>
        </div>
        <div class="clear-fix"></div>
      </div>
    </div> <!-- first row ends -->
    <div class="row"> <!-- second row starts -->
      <div class="col-md-12 col-lg-12">
        <div class="metrics"> <!-- metrics div starts -->
          <ul class="metrics-list">
            <li class="metric-list-item">
              <div class="card-round-link card-round-link-first overflow-hidden">
                <p class="metrics-text">Articles Written</p>
                <p class="metrics-number-1">{{user.stats.articles_count}}</p>
              </div>
            </li>
            <li class="metric-list-item">
              <div class="card-round-link card-round-link-center overflow-hidden">
                <p class="metrics-text">Following Authors</p>
                <p class="metrics-number-2">{{user.stats.authors_following?.length}}</p>
              </div>
            </li>
            <li class="metric-list-item">
              <div class="card-round-link card-round-link-last overflow-hidden">
                <p class="metrics-text">Popularity Index</p>
                <p class="metrics-number-3">{{user.stats.popularity_index}}</p>
              </div>
            </li>
          </ul>
        </div> <!-- metrics div ends -->
      </div>
    </div> <!-- second row ends -->
    <div class="row"> <!-- third row starts -->
      <div class="col-md-12 col-lg-12">
        <div class="recent-articles"> <!-- recent articles div starts -->
          <h4 class="heading">Recent Articles</h4>
          <div class="card-columns">
            <div class="card text-center" *ngFor="let article of recentArticles">
              <div class="card-body">
                <h4 class="card-title">{{article.article_title}}</h4>
                <p class="card-text">{{article.article_content}}</p>
                <p class="card-text"><small class="text-muted">Last updated {{article.article_date}}.</small></p>
              </div>
            </div>
          </div>
        </div> <!-- recent articles div ends -->
      </div>
    </div> <!-- third row ends -->
    <div class="row"> <!-- fourth row starts -->
      <div class="col-md-12 col-lg-12">
        <div class="suggestions"> <!-- suggestions div starts -->
          <h4 class="heading">You might be Interested In</h4>
          <div class="card-deck"> <!-- card deck starts here -->
            <div class="card primary-card">
                <div class="card-header ">
                  Topics
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Culture</li>
                  <li class="list-group-item">Politics</li>
                  <li class="list-group-item">Gaming</li>
                  <li class="list-group-item">Love</li>
                  <li class="list-group-item">Fashion</li>
                  <li class="list-group-item">Movies</li>
                </ul>
            </div>
            <div class="card secondary-card">
                <div class="card-header ">
                  People
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Sindhu Reddy</li>
                  <li class="list-group-item">Praveen Kumar</li>
                  <li class="list-group-item">Bharath Devanga</li>
                  <li class="list-group-item">Ibrahim SK</li>
                  <li class="list-group-item">Achyuth M K</li>
                  <li class="list-group-item">Kajal Aggrawal</li>
                </ul>
            </div>
            <div class="card casual-card">
                <div class="card-header ">
                  Quick Reads
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Big Tech and Amazon: too powerful to break up?</li>
                  <li class="list-group-item">Life Is Math — Not Magic</li>
                  <li class="list-group-item">Welcome to SpaceX City: The Ultimate Startup</li>
                  <li class="list-group-item">My stupid excuses for not writing</li>
                  <li class="list-group-item">200 universities just launched 560 free online courses. Here’s the full list.</li>
                </ul>
            </div>
            </div> <!-- card-deck ends here -->
        </div> <!-- suggestions div ends -->
      </div>
    </div> <!-- fourth row ends -->
  </div> <!-- container ends -->
</div> <!-- profile wrapper ends -->