<div class="container">
  <div class="row">
    <div class="col-md-9 col-lg-9">
      <div class="article-display">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <img src="http://via.placeholder.com/100x100" class="rounded-circle pull-left avatar">
              </div>
              <div class="col-md-10 col-lg-10">
                <h4 class="card-title">Big Tech and Amazon: too powerful to break up?</h4>
                <p class="card-text">While Google, Facebook and Twitter are set for a grilling in Congress over Russia, it is the online retailer
                  that is drawing intense scrutiny.</p>
                <span class="text-muted article-author">by Ravinder Singh<span class="seperator">.</span><span class="date">Oct 30</span></span>
                <div class="article-interactions">
                  <button type="button" class="btn btn-outline-dark read-more pull-left">Read More</button>
                  <div class="icons pull-right">
                    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-bookmark-o fa-lg" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <img src="http://via.placeholder.com/100x100" class="rounded-circle pull-left avatar">
              </div>
              <div class="col-md-10 col-lg-10">
                <h4 class="card-title">Life Is Math — Not Magic</h4>
                <p class="card-text">Some say life is like chess, running a marathon, or playing a video game. I like those simplified looks on
                  life because it’s already complicated enough.</p>
                <span class="text-muted article-author">by Praveen Kumar<span class="seperator">.</span><span class="date">Oct 30</span></span>
                <div class="article-interactions">
                  <button type="button" class="btn btn-outline-dark read-more pull-left">Read More</button>
                  <div class="icons pull-right">
                    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-bookmark-o fa-lg" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card"> <!-- card starts here -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <img src="http://via.placeholder.com/100x100" class="rounded-circle pull-left avatar">
              </div>
              <div class="col-md-10 col-lg-10">
                <h4 class="card-title">My stupid excuses for not writing</h4>
                <p class="card-text">My stupid excuses for not writing, Its been fun writing articles to my heart content, but here are my excuses</p>
                <span class="text-muted article-author">by Sindhu Reddy<span class="seperator">.</span><span class="date">Oct 30</span></span>
                <div class="article-interactions">
                  <button type="button" class="btn btn-outline-dark read-more pull-left">Read More</button>
                  <div class="icons pull-right">
                    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-bookmark-o fa-lg" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- card end here -->
        <div class="card"> <!-- card starts here -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <img src="http://via.placeholder.com/100x100" class="rounded-circle pull-left avatar">
              </div>
              <div class="col-md-10 col-lg-10">
                <h4 class="card-title">200 free online courses</h4>
                <p class="card-text">200 universities just launched 560 free online courses. Here’s the full list.</p>
                <span class="text-muted article-author">by Bharath Devanga<span class="seperator">.</span><span class="date">Oct 30</span></span>
                <div class="article-interactions">
                  <button type="button" class="btn btn-outline-dark read-more pull-left">Read More</button>
                  <div class="icons pull-right">
                    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-bookmark-o fa-lg" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- card end here -->
        <div class="card"> <!-- card starts here -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <img src="http://via.placeholder.com/100x100" class="rounded-circle pull-left avatar">
              </div>
              <div class="col-md-10 col-lg-10">
                <h4 class="card-title">Welcome to SpaceX City: The Ultimate Startup</h4>
                <p class="card-text">How the private space industry will reinvent economics, exploration, and humanity.</p>
                <span class="text-muted article-author">by Manoj<span class="seperator">.</span><span class="date">Oct 30</span></span>
                <div class="article-interactions">
                  <button type="button" class="btn btn-outline-dark read-more pull-left">Read More</button>
                  <div class="icons pull-right">
                    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-bookmark-o fa-lg" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- card end here -->
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="right-side-bar pull-right">
        <div class="card" style="width: 17rem;">
          <div class="card-header primary-card">
            Featured
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Big Tech and Amazon: too powerful to break up?</li>
            <li class="list-group-item">Life Is Math — Not Magic</li>
            <li class="list-group-item">Welcome to SpaceX City: The Ultimate Startup</li>
            <li class="list-group-item">My stupid excuses for not writing</li>
            <li class="list-group-item">200 universities just launched 560 free online courses. Here’s the full list.</li>
          </ul>
        </div>
        <div class="card" style="width: 17rem;">
            <div class="card-header secondary-card">
              Top Authors
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Ravinder Singh</li>
              <li class="list-group-item">Praveen Kumar</li>
              <li class="list-group-item">Bharath Devanga</li>
              <li class="list-group-item">Ibrahim shaik</li>
              <li class="list-group-item">Sindhu Reddy</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="row"> <!-- second row starts here -->
      <div class="col-md-12 col-lg-12">
        <div class="topics-list">
          <h4 class="topics-list-heading">Discover New Topics</h4>
          <div class="card-columns">
              <div class="card text-center discover-topics"> <!-- card starts here -->
                  <div class="card-body">
                    <h4 class="card-title display-4">Culture</h4>
                  </div>
              </div> <!-- card ends here -->
              <div class="card text-center discover-topics"> <!-- card starts here -->
                <div class="card-body">
                  <h4 class="card-title display-4">Gaming</h4>
                </div>
              </div> <!-- card ends here -->
              <div class="card text-center discover-topics"> <!-- card starts here -->
                <div class="card-body">
                  <h4 class="card-title display-4">Politics</h4>
                </div>
              </div> <!-- card ends here -->
              <div class="card text-center discover-topics"> <!-- card starts here -->
                <div class="card-body">
                  <h4 class="card-title display-4">Fiction</h4>
                </div>
            </div> <!-- card ends here -->
            <div class="card text-center discover-topics"> <!-- card starts here -->
              <div class="card-body">
                <h4 class="card-title display-4">Fashion</h4>
              </div>
            </div> <!-- card ends here -->
            <div class="card text-center discover-topics"> <!-- card starts here -->
              <div class="card-body">
                <h4 class="card-title display-4">Sports</h4>
              </div>
            </div> <!-- card ends here -->
            <div class="card text-center discover-topics"> <!-- card starts here -->
              <div class="card-body">
                <h4 class="card-title display-4">Technology</h4>
              </div>
          </div> <!-- card ends here -->
          <div class="card text-center discover-topics"> <!-- card starts here -->
            <div class="card-body">
              <h4 class="card-title display-4">Business</h4>
            </div>
          </div> <!-- card ends here -->
          <div class="card text-center discover-topics"> <!-- card starts here -->
            <div class="card-body">
              <h4 class="card-title display-4">Economy</h4>
            </div>
          </div> <!-- card ends here -->
          <div class="card text-center discover-topics"> <!-- card starts here -->
            <div class="card-body">
              <h4 class="card-title display-4">Writing</h4>
            </div>
        </div> <!-- card ends here -->
        <div class="card text-center discover-topics"> <!-- card starts here -->
          <div class="card-body">
            <h4 class="card-title display-4">Art</h4>
          </div>
        </div> <!-- card ends here -->
        <div class="card text-center discover-topics"> <!-- card starts here -->
          <div class="card-body">
            <h4 class="card-title display-4">Nature</h4>
          </div>
        </div> <!-- card ends here -->

          </div>
        </div>
      </div>
    </div> <!-- second row ends here -->
    <div class="row"></div>
  </div>
</div>