<div class="container">
  <div class="row">
    <div class="col-md-9 col-lg-9">
      <div class="article-display">
          <h4 class="Article-display-heading">Recent Articles</h4>
        <div class="card" *ngFor="let article of recentArticles">
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <img src="http://via.placeholder.com/100x100" class="rounded-circle pull-left avatar">
              </div>
              <div class="col-md-10 col-lg-10">
                <h4 class="card-title">{{article.article_title}}</h4>
                <p class="card-text">{{article.article_text}}</p>
                <span class="text-muted article-author">by {{article.article_author}}<span class="seperator">.</span><span class="date">{{article.date}}</span></span>
                <div class="article-interactions">
                  <button type="button" class="btn btn-outline-dark read-more pull-left">Read More</button>
                  <div class="icons pull-right">
                    <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-bookmark-o fa-lg" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
         <!-- card end here -->
      </div>
    </div>
    <div class="col-md-3 col-lg-3">
      <div class="right-side-bar pull-right">
        <div class="card" style="width: 17rem;">
          <div class="card-header primary-card">
            Featured
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let storyTitle of featuredStories">{{storyTitle}}</li>
          </ul>
        </div>
        <div class="card" style="width: 17rem;">
            <div class="card-header secondary-card">
              Top Authors
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let author of topAuthors">{{author}}</li>

            </ul>
          </div>
      </div>
    </div>
    <div class="row"> <!-- second row starts here -->
      <div class="col-md-12 col-lg-12">
        <div class="topics-list">
          <h4 class="topics-list-heading">Discover New Topics</h4>
          <div class="card-columns">
              <div class="card text-center discover-topics"> <!-- card starts here -->
                  <div class="card-body">
                    <h4 class="card-title display-4">Culture</h4>
                  </div>
              </div> <!-- card ends here -->
              <div class="card text-center discover-topics"> <!-- card starts here -->
                <div class="card-body">
                  <h4 class="card-title display-4">Gaming</h4>
                </div>
              </div> <!-- card ends here -->
              <div class="card text-center discover-topics"> <!-- card starts here -->
                <div class="card-body">
                  <h4 class="card-title display-4">Politics</h4>
                </div>
              </div> <!-- card ends here -->
              <div class="card text-center discover-topics"> <!-- card starts here -->
                <div class="card-body">
                  <h4 class="card-title display-4">Fiction</h4>
                </div>
            </div> <!-- card ends here -->
            <div class="card text-center discover-topics"> <!-- card starts here -->
              <div class="card-body">
                <h4 class="card-title display-4">Fashion</h4>
              </div>
            </div> <!-- card ends here -->
            <div class="card text-center discover-topics"> <!-- card starts here -->
              <div class="card-body">
                <h4 class="card-title display-4">Sports</h4>
              </div>
            </div> <!-- card ends here -->
            <div class="card text-center discover-topics"> <!-- card starts here -->
              <div class="card-body">
                <h4 class="card-title display-4">Technology</h4>
              </div>
          </div> <!-- card ends here -->
          <div class="card text-center discover-topics"> <!-- card starts here -->
            <div class="card-body">
              <h4 class="card-title display-4">Business</h4>
            </div>
          </div> <!-- card ends here -->
          <div class="card text-center discover-topics"> <!-- card starts here -->
            <div class="card-body">
              <h4 class="card-title display-4">Economy</h4>
            </div>
          </div> <!-- card ends here -->
          <div class="card text-center discover-topics"> <!-- card starts here -->
            <div class="card-body">
              <h4 class="card-title display-4">Writing</h4>
            </div>
        </div> <!-- card ends here -->
        <div class="card text-center discover-topics"> <!-- card starts here -->
          <div class="card-body">
            <h4 class="card-title display-4">Art</h4>
          </div>
        </div> <!-- card ends here -->
        <div class="card text-center discover-topics"> <!-- card starts here -->
          <div class="card-body">
            <h4 class="card-title display-4">Nature</h4>
          </div>
        </div> <!-- card ends here -->

          </div>
        </div>
      </div>
    </div>
  </div> <!-- second row ends here -->
</div>
<div class="interested-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <h4 class="interested-heading">Get Started</h4>
          <p class="text-center interested-text">
              The only other place to be yourself is at SharedThoughts.<br> Share your thought, get appreciated by fellow Writer's, Followers and Readers.
          </p>
          <form class="form-signin text-center">
            <h4 class="sign-up-heading">Sign Up</h4>
              <label for="inputFirstName" class="sr-only">Email address</label>
              <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required>
              <label for="inputLastName" class="sr-only">Email address</label>
              <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <div class="checkbox">
                
              </div>
              <button class="btn btn-outline-warning my-2 started-btn" type="button">Sign Up</button>
            </form>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card text-center testimonials">
        <div class="card-body">
          <img src="../../assets/tt2_128.jpg" class="testimonial-avt">
          <p class="author-name">John Snow</p>
          <p class="card-text lead">SharedThoughts is such a cool community, I always keep coming back for more.</p>
        </div>
      </div>
    </div>
  </div>
</div>